@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    font-family: "Roboto", "Segoe UI", "Segoe WP", "Helvetica Neue", sans-serif;
}

p {
    font-size: 15px;
    line-height: 1.5;
}

strong { font-weight:bold; }

img {
    max-width:100%;
}

#main {
    background:#222222;
    border-top:10px solid #4d90fe;
    color:#fff;
    padding:100px 0 100px 0;
    overflow:hidden;
}

.container {
    width:940px;
    margin:0 auto;
}

#info {
    float:left;
    width:38%;
}

    #info h1 {
        font-weight:bold;
        font-size:18px;
        margin:20px 0;
        text-transform:uppercase;
        display:none;
    }

    #info #logo {
    }

    #info #desc {
        margin-top:20px;
    }

    #info #action {
        margin-top:20px;
    }
    
#screens {
    float:right;
    width:58%;
    margin-top:10px;
}

    #screens img {
        border:1px solid #efefef;
    }

#details {
    padding:80px 0 0 0;
}

#details .feature {
    margin-bottom:80px;
    clear:both;
    overflow:hidden;
}

    #details .feature .desc {
        float:left;
        width:37%;
    }

        #details .feature .desc h3 {
            font-size: 18px;
            color: #858585;
            text-transform:uppercase;
            margin-bottom:10px;
            line-height:30px;
        }

        #details .feature.right .desc {
            float:right;
        }

    #details .feature img {
        float:right;
        width:57%;
        border:1px solid #efefef;
    }

        #details .feature.right img {
            float:left;
        }

#secondary-action {
    margin-bottom:80px;
    text-align:center;
}

footer {
    background:#4d90fe;
    color:#fff;
    padding:30px 0;
    font-size:14px;
    overflow:hidden;
}

footer a {
    color:#fff;
    text-decoration:underline;
}

footer a:hover {
    text-decoration:none;
}

footer .pull-left {
    float:left;
}

footer .pull-right {
    float:right;
}

@media (max-width: 768px) {
    
    p {
        font-size: 14px;
        line-height: 1.5;
    }
    
    #main {
        border-top:5px solid #4d90fe;
        padding:30px 0 50px 0;
    }

    .container {
        width:90%;
        margin:0 auto;
    }

    #info {
        width:100%;
        float:none;
        text-align:center;
        padding-bottom:20px;
    }

        #info .m-btn {                
            height: 30px;
            font-size: 16px;
            line-height: 30px;
            padding: 10px 16px;
        }

        #info .m-btn i {           
            display:none;
        }

    #screens {
        width:100%;
        float:none;
        text-align:center;
    }
        
    #screens img {
    }

    #details {
        padding:40px 0 0 0;
    }
    
    #details .feature {
        margin-bottom:40px;
    }

        #details .feature .desc {
            width:100%;
            float:none;
        }

            #details .feature .desc h3 {
                font-size: 16px;
                margin-bottom:10px;
                line-height:30px;
            }

            #details .feature.right .desc {
                float:none;
            }

        #details .feature img {
            width:100%;
            float:none;            
        }

            #details .feature.right img {
                float:none;        
            }
            
    #secondary-action {
        margin-bottom:40px;
    }
        #secondary-action .m-btn {                
            height: 30px;
            font-size: 16px;
            line-height: 30px;
            padding: 10px 16px;
        }

        #secondary-action .m-btn i {           
            display:none;
        }

    footer {
        padding:20px 0;
        font-size:14px;
    }
        
    footer .pull-right {
        display:none;
    }
}
