/*
 *
 * Reset
 *
 */
 
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

img,
object {
     max-width: 100%;
	 height:auto;
}

/*
 *
 * Base Styles 
 *
 */
 
body
{
	height:100%;
    color:#4f4f4f;
    font-family:Arial, Helvetica, sans-serif;
    font-size:.875em; /* 14px */
    -webkit-font-smoothing: antialiased;
	/*background:#F5F5F5;*/
}

html { height:100%; }

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; font-family:'Yanone Kaffeesatz'; }
h2 { font-size: 2em; margin-bottom: 0.75em; font-family:'Yanone Kaffeesatz'; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; font-family:'Yanone Kaffeesatz'; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #AC170E; text-decoration:none; }
a:hover { color: #FE2215; text-decoration:underline; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { 
  
  background-color: #252525;
  border: 1px solid black;
	color: #e6e0db;
	padding:3px 5px;
	font-size: 12px;
	line-height: 14px;
	margin:12px 0 20px 0;  
}


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }
  
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 
.clearfix:after { clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

.clear { clear:both; }

/* Alignment */
.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*
 *
 * Header
 *
 */

#header-wrap
{
	position:fixed;
	top:0;
	left:0;
	width:220px;
	color:#fff;
	height:100%;
	overflow:hidden;
	background:#252525;
	padding:10px 10px 0px 10px;
}

header h1 {
	font-size: 2em;
	font-weight: bold;
	margin: .67em 0;
}

header h1  a {
	display:block;
	height:40px;
	background: transparent url(../img/lukenlogo.png) no-repeat center center;
	color:transparent;
}

header h1  a:hover {
	background: transparent url(../img/lukenlogo_hover.png) no-repeat center center;
	color:transparent;
}

#site-description {
	font-size: 1em;
	font-weight: normal;
	margin: 0 0 1em;
}

/*
 *
 * Content
 *
 */
 
#content
{
	margin:30px 20px 0 20px;
	max-width:1100px;
}

#archive
{
	list-style-type:none;
	margin:0;
}

#archive li
{
	padding:6px 3px;
	margin:0 0 3px 0;
	border-bottom:1px solid #eee;
	clear:both;
	overflow:hidden;
}
 
#archive li a
{
	float:left;
}

#archive li .date
{
	float:right;
	color:#777;
}

/*
 *
 * Footer
 *
 */
footer {
	padding:10px 0;
	margin-top:20px;
	text-align:center;
	max-width:1100px;
}

/* CUSTOM YO */
#primary
{
	margin-left:240px;
	margin-top:10px;
}

/* header */

#site-description
{
	font-style: italic;
	font-size:1.1em;
	padding-left:10px;
}


/* header menu and widgets */

.widget
{
	padding: 10px 10px 15px 10px;
}

.widget a
{
	color:#fff;
	text-decoration:none;
}

.widget a:hover
{
	color:#FE2215;
}

.widget ul
{
	list-style-type:none;
	width:100%;
	display:block;
	margin:0;
	padding:0;
}

.widget ul li
{
	display:block;
	width:100%;
	
	padding:5px 0;
	margin:0;
}

.widget ul li.current-page-item a
{
	font-weight:bold;
}

.widget  ul li a
{
	padding:3px;
}

#header-wrap h4
{
	color: #96968E;
	font-size: 0.875em;
	text-transform: uppercase;
	
	padding:0 0 5px 3px;
	margin:0;
}


#me .grav
{
	border: 1px solid #96968E;
}

#me .about
{
}

.short-info
{
	display:none;
}

#me strong
{
	padding:5px 0 3px 0;
	display:block;
}

#me p
{
	font-size:0.95em;
	padding:3px 0;
	color:#999;
}

#me ul
{
	padding-top:5px;
	clear:both;
}

#twitter-text
{
	display:none;
}

/* article */


#post
{
}

#post h1
{
	font-size:36px;
	padding:0 0 5px 0;
	margin:0 0 7px 0;
	border-bottom:1px solid #efefef;
}

#post .date
{
	margin:0 0 15px 0;
	color:#777;
}

#post article
{
	padding:0 0 10px 0;
	margin:0;
	line-height: 18px;	
	border-bottom:1px dotted #ddd;

}

#post article p
{
	margin: 0 0 12px;
}

#post article h3, #post article h2, #disqus_thread h3
{
	font-weight:normal;
	font-size:26px;
	border-bottom:1px solid #efefef;
	padding:0 0 5px 0;
	margin:10px 0 18px 0;
}

#post article pre, #post article img
{
	margin: 20px 0;
}

#share
{
	padding:10px 0;	
}

#page-navigation
{
}

#page-navigation .left, #page-navigation .right
{
	padding:5px 0;
}

.gist pre
{
	color:#000;  
	background-color: #e9ebd9;
}

.number
{
	float:left;
	padding:10px 10px 15px 10px;
	text-align:center;
	color:#666;
}

.sign
{
	float:left;
	padding:10px 5px 0 5px;
	text-align:center;
	font-size:1.2em;
	color:#666;
}

.number strong
{
	font-size:1.3em;
	color:#505050;
}


/* jobfork alert */
.messagebar
{
	opacity:0;
	height:0px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	text-align:center;
	line-height:30px;
	z-index:9999;
	color:#fff;
	font-size:13px;	
	
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	
	background: rgb(37,141,200);
	background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,141,200,1)), color-stop(100%,rgba(37,141,200,1)));
	background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
	background: -o-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
	background: -ms-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
	background: linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 );

	-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

}

.messagebar .title
{
	font-weight:bold;
	padding-right:7px;
}

.messagebar a.close-message
{
	position:fixed;
	top:-10px;
	right:0px;
	display:block;
	cursor:pointer;
	padding:10px;
	color: #fff;
	text-decoration:none;
	font-weight:bold;
}

.messagebar a
{
	color: #ffb55a;
	font-size:14px;
}

.messagebar a:hover
{
	text-decoration:underline;
}

.jobfork
{
	margin-top:10px;
	padding:10px 0;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
}

.jobfork h4
{
	padding:0 !important;
}

.jobfork h4 a
{
	font-size:14px;
	text-transform:none;
	/*color: #AC170E;*/
	color: #FE2215;
}

.jobfork h4 a:hover
{
	color: #FE2215;
	text-decoration: underline;
}

.jobfork p 
{
	font-size:12px !important;
}

